go 1.26.5

use (
	./libraries/stav-protocol-go
	./modules/secure-identity-access-governance
	./modules/stav-append-authority
	./tools/qxctl
)

replace (
	github.com/QuanuX/Symphony/libraries/stav-protocol-go v0.2.0 => ./libraries/stav-protocol-go
	github.com/QuanuX/Symphony/modules/stav-append-authority v0.1.0 => ./modules/stav-append-authority
)
